<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TimerStrategyConfig" type="Td.Task.Framework.TimerStrategyManager,Td.Task.Framework"/>
    <section name="MallOrderLateConfig" type="KylinService.Services.MallOrderLate.MallOrderLateConfigManager,KylinService"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="KylinConnectionString" connectionString="data source=112.74.90.88;initial catalog=Kylin.test;persist security info=True;user id=kylintest;password=kylintest++;MultipleActiveResultSets=True;"/>
  </connectionStrings>
  <TimerStrategyConfig>
    <!--摇一摇每日次数初始化-->
    <TimerStrategy>
      <!--配置名（即任务类型）-->
      <RefName>ShakeDayTimesClear</RefName>
      <!--定时器是否可重入-->
      <Reentrant>true</Reentrant>
      <!--策略模式-->
      <TimerMode>EveryDay</TimerMode>
      <!--延迟开始处理（单位:毫秒）可为空-->
      <Delay>0</Delay>
      <!--时间间隔（单位毫秒，1800000=30分钟）-->
      <Interval>20000</Interval>
      <!--定时配置-->
      <StrategyByDay>
        <!--开始时间-->
        <BeginTime>00:00:00</BeginTime>
        <!--结束时间-->
        <EndTime>23:59:59</EndTime>
        <!--间隔时间(单位:毫秒)-->
        <Interval></Interval>
        <!--
					要么从开始时间开始, 每隔Interval执行一次,直到EndTime为止, 表示一天的任务完成.(即Begin,End,Interval)
					要么在一天中的以下时间点各执行一次.Times
				-->
        <!--时间点-->
        <TimePoints>
          <!--一天之中需要执行任务的时间点-->
          <TimeValue>00:00:00</TimeValue>
        </TimePoints>
      </StrategyByDay>
    </TimerStrategy>
    <!--限时福利开奖-->
    <TimerStrategy>
      <!--配置名（即任务类型）-->
      <RefName>WelfareLottery</RefName>
      <!--定时器是否可重入-->
      <Reentrant>true</Reentrant>
      <!--策略模式-->
      <TimerMode>Interval</TimerMode>
      <!--延迟开始处理（单位:毫秒,10秒后开始）可为空-->
      <Delay>10000</Delay>
      <!--时间间隔（单位毫秒，3600000=60分钟）-->
      <Interval>3600000</Interval>
      <!--定时配置-->
      <StrategyByDay>
        <!--开始时间-->
        <BeginTime>00:00:00</BeginTime>
        <!--结束时间-->
        <EndTime>23:59:59</EndTime>
        <!--间隔时间(单位:毫秒)-->
        <Interval></Interval>
        <!--
					要么从开始时间开始, 每隔Interval执行一次,直到EndTime为止, 表示一天的任务完成.(即Begin,End,Interval)
					要么在一天中的以下时间点各执行一次.Times
				-->
        <!--时间点-->
        <TimePoints>
          <!--一天之中需要执行任务的时间点-->
          <TimeValue></TimeValue>
        </TimePoints>
      </StrategyByDay>
    </TimerStrategy>
    <!--商城订单逾期处理-->
    <TimerStrategy>
      <!--配置名（即任务类型）-->
      <RefName>MallOrderLate</RefName>
      <!--定时器是否可重入-->
      <Reentrant>true</Reentrant>
      <!--策略模式-->
      <TimerMode>EveryDay</TimerMode>
      <!--延迟开始处理（单位:毫秒）可为空-->
      <Delay>1000</Delay>
      <!--时间间隔（单位毫秒，1800000=30分钟）-->
      <Interval>20000</Interval>
      <!--定时配置-->
      <StrategyByDay>
        <!--开始时间-->
        <BeginTime>00:00:00</BeginTime>
        <!--结束时间-->
        <EndTime>23:59:59</EndTime>
        <!--间隔时间(单位:毫秒)-->
        <Interval></Interval>
        <!--
					要么从开始时间开始, 每隔Interval执行一次,直到EndTime为止, 表示一天的任务完成.(即Begin,End,Interval)
					要么在一天中的以下时间点各执行一次.Times
				-->
        <!--时间点-->
        <TimePoints>
          <!--一天之中需要执行任务的时间点-->
          <TimeValue>00:00:00</TimeValue>
          <TimeValue>19:55:00</TimeValue>
          <TimeValue>19:55:30</TimeValue>
        </TimePoints>
      </StrategyByDay>
    </TimerStrategy>
  </TimerStrategyConfig>
  <!--自营商城订单逾期未处理配置-->
  <MallOrderLateConfig>
    <!--支付等待时间（单位：小时）-->
    <PaymentWaitHours>24</PaymentWaitHours>
    <!--收货等待时间（单位：天）-->
    <ReceiptGoodsWaitDays>7</ReceiptGoodsWaitDays>
  </MallOrderLateConfig>
</configuration>